html {
    height: 100%;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ccf1ef;
    background-image: linear-gradient(#ebfcfb, #ccf1ef);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333333;
    margin: 0;
}

a {
    color: #9882ac;
}

a:hover {
    color: #a692b8;
}

a:visited {
    opacity: 0.9;
}

.error {
    color: #e63462;
}

.page {
    text-align: center;
}

.page.hidden {
    display: none;
}

.page-intro {
    padding: 10px;
}

.page-detector {
    overflow: hidden;
    background: #333;
}

.supported,
.unsupported {
    display: none;
}

h1 {
    color: #7b6fb7;
    font-size: 3em;
    text-shadow: 1px 1px #6e5b80;
}

h2 {
    font-weight: normal;
}

img.llama {
    display: block;
    margin: 2em auto;
}

button {
    background-color: #6457a6;
    color: #fff;
    border: 1px solid #6e5b80;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #7b6fb7;
}

.btn-go {
    font-size: 1.3em;
    min-width: 150px;
    margin: 1em 0 2em 0;
}

@-webkit-keyframes rainbow-text {
    0% {color: #e63462}
    20% {color: #fde74c}
    40% {color: #9bc53d}
    60% {color: #5dd9c1}
    80% {color: #6457a6}
    100% {color: #fff}
}

@keyframes rainbow-text {
    0% {color: #e63462}
    20% {color: #fde74c}
    40% {color: #9bc53d}
    60% {color: #5dd9c1}
    80% {color: #6457a6}
    100% {color: #fff}
}

@-webkit-keyframes rainbow-border {
    0% {border-color: #e63462}
    20% {border-color: #fde74c}
    40% {border-color: #9bc53d}
    60% {border-color: #5dd9c1}
    80% {border-color: #6457a6}
    100% {border-color: #fff}
}

@keyframes rainbow-border {
    0% {border-color: #e63462}
    20% {border-color: #fde74c}
    40% {border-color: #9bc53d}
    60% {border-color: #5dd9c1}
    80% {border-color: #6457a6}
    100% {border-color: #fff}
}

.top-msg,
.bottom-msg {
    display: none;
    position: absolute;
    width: 100%;
    top: 15px;
    text-align: center;
    text-shadow: 2px 2px #333;
}

.bottom-msg {
    top: auto;
    bottom: 15px;
}

.detecting-msg {
    font-size: 1.5em;
    color: #fff;
}

.detected-msg {
    font-size: 2em;
    -webkit-animation: rainbow-text 3s infinite;
    animation: rainbow-text 3s infinite;
    display: none;
}

body.detecting .detecting-msg {
    display: block;
}

body.detected .detecting-msg {
    display: none;
}

body.detected .detected-msg {
    display: block;
}

.detected-border {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

body.detected .detected-border {
    -webkit-animation: rainbow-border 3s infinite;
    animation: rainbow-border 3s infinite;
    border: 10px solid #e63462;
    box-sizing: border-box;
}